<h1>Reserva para o voo {{ flight.flight_number }}</h1>

<form method="post">
    {% csrf_token %}
    <label for="seats_requested">Número de assentos:</label>
    <input type="number" name="seats_requested" min="1" max="{{ flight.available_seats }}" required>
    
    <button type="submit">Reservar</button>
</form>


<p>Origem: {{ flight.origin }}</p>
<p>Destino: {{ flight.destination }}</p>
<p>Data: {{ flight.date }}</p>
<p>Assentos disponíveis: {{ flight.available_seats }}</p>

<p>
    Usuário atual: {{ user.username }} |
    <a href="{% url 'search_flights' %}">Voltar para a busca de voos</a> |
    <a href="{% url 'my_reservations' %}">Minhas Reservas</a> |
    <a href="{% url 'logout' %}">Sair</a>
</p>
