<!-- reservations/templates/reservations/search_flights.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Buscar Voos</title>
</head>
<body>
    <h1>Buscar Voos</h1>

    <form method="get" action="{% url 'search_flights' %}">
        <input type="text" name="query" placeholder="Buscar por voos" value="{{ request.GET.query }}">
        <button type="submit">Buscar</button>
    </form>

    <h2>Resultados</h2>
    <ul>
        {% for flight in flights %}
            {% if flight.available_seats == 0 %}
            <li>
                {{ flight.flight_number }} - {{ flight.origin }} para {{ flight.destination }} em {{ flight.date }} - ${{ flight.price }} - Sem assentos disponíveis
            </li>
            {% else %}
            <li>
                <a href="{% url 'make_reservation' flight.id %}">
                    {{ flight.flight_number }} - {{ flight.origin }} para {{ flight.destination }} em {{ flight.date }} - ${{ flight.price }}
                </a>
            </li>
            {% endif %}
        {% empty %}
            <li>Nenhum voo encontrado.</li>
        {% endfor %}
    </ul>

    <p>
        Usuário atual: {{ user.username }} |
        <a href="{% url 'my_reservations' %}">Ver Minhas Reservas</a> |
        <a href="{% url 'logout' %}">Sair</a>
    </p>
</body>
</html>
